/*** Add your styles here **/

/* Global */

body {
    background-color: #e9ecef66;

}

h2 {
    font-size: 2.4rem;
}

h2 span {
    font-size: 4rem;
}

h2,
h3 {
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h3 span {
    font-size: 3rem;
}

h2 span,
h3 span {
    font-family: 'Italianno', cursive;
    display: block;
    color: #e082a8;
}

/* Global end */

/* Header */

.navigation {
    background-color: #8ed3cc;
}

.main-nav {
    background-image: url(../img/border_horizontal.png),
                      url(../img/border_horizontal.png);
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
    margin: 5px 0;
}

.main-nav .nav-item {
    transition: background-color .3s ease-in-out;
    flex-grow: 1;
    text-align: center;
}

.main-nav .nav-item:hover {
    background-color: #39a69b;
    border-radius: 10px;
}

.main-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

/* Header end */

/* Carousel */

.carousel .carousel-caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

/* Carousel end */

/* Welcome */

.new-webside p {
    font-size: 1.6rem;
    color: #979797;
    font-family: 'Lato', sans-serif;
}

/* Welcome end */

/* Image links */

.image-links img {
    border: 6px solid white;
}

.image-links img:hover {
    transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    transition: all ease-in-out 0.3s;   
    -ms-transition: all ease-in-out 0.3s;   
    -webkit-transition: all ease-in-out 0.3s;   
    -moz-transition: all ease-in-out 0.3s;   
}
.image-info {
    background-color: #fff;
    margin-top: -50px;   
}

.image-info .btn-success {
    background-color: #e082a8;
    border: none;
    border-radius: 0;
}

.image-info .btn-success:hover {
    background-color: #ca5b88;
}

/* Image links end */

/* Hours */
.business-hours {
    background-color: #8ed3cc;
}

.bg-hours {
    background-image: url(../img/bg_hours.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.business-hours h2, 
.business-hours p {
    color: #ffffff;
}

.table  {
    color: white;
    border: 2px solid #e082a8
}

.table thead{
    background-color: #e082a8;
}

.table tbody tr td {
    padding: .35rem;
}
.table td, 
.table thead th {
    border: none;
    border-bottom: none;
}

/* Hours end */

/* Products */

.products .card {
    border: none;
}

.products .card a {
    color: #000;
}

.products .card a:hover {
    text-decoration: none;
}

.products .card h3{
    font-size: 1.3rem;
    color: #e082a8;
}

.products .card p {
    font-size: .8rem;
}

.products .card p.price {
    font-size: 1.5rem;
    font-family: 'Lato', sasn-serif;
    color: #979797;
}

/* Products end */

 /* Appointment */

.appointment {
    background-image: url(../img/bg_appointment.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}

@media (min-width: 992px) {
    .appointment {
    }
}

.appointment h3 {
    color: white;
    line-height: 4rem;
    font-size: 3.5rem;
    font-weight: 400;
}

.appointment p {
    line-height: 2.5rem;
}

.appointment .btn-primary {
    background-color: #8ed3cc;
    border: none;
    border-radius: 0;
    padding: 1rem 5rem;
    font-family: 'Lato', sans-serif;
}

.appointment .btn-primary:hover {
    background-color: #68beb5;
}

 /* Appointment end */


/* Footer */

.site-footer .copyright {
    font-family: 'Lato', sans-serif;
    color: #969696;
}

/* Footer end */

/* Social Menu  */
.socials ul {
    margin-top: 40px;
    list-style-type: none;
}

.socials ul li {
    position: relative;
    display: inline-block;
}

.socials ul li a i{
    vertical-align: top;
    display: inline-block;
    padding: 0 0.5rem;
    color: #e082a8;
    
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
}
/* Social end */